.triangle{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    width: 0;
    height: 0;
    margin: auto;
    display: none;
    position: absolute;
    margin-top: 2px;
}